*{/*Reseteamos los valores de margin y padding con los valores que deseamos*/
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: "Raleway";
    
}

body{
   background-color: #208337;
}

/*CABECERA*/
.cabecera{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: white;

}

/*.logo{
    padding-left: 50px;
}*/

/*INPUT*/
.buttonList{
    background-color: #1EA93F;
    color: white;
    padding: 10px;
    margin: 0;
    /*text-align: center;*/
    padding: 50px;
}

.contenedor{
    background: #1EA93F;
    width: 100%; 
    height: 560px;
}

.buttonList button{
    color: white;
    background: #208337;
    padding: 10px 100px 10px 5px;
    border: 2px transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: border;
    text-align: left;
}

#desplegar{
    display: none;
    background: #DDDDDD;
    width: 200px;
    text-align: center;
    border: 2px transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px 5px 50px;
}
